.btn-large {
    height: 54px;
    line-height: 54px;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.btn, .btn-large, .btn-floating, .btn-large, .btn-flat {
    outline: 0;
}